*{
    margin: 0;
    padding: 0;
    border-radius: none;
}

.App{
    margin: 0 auto;
    color: rgb(233, 13, 13);
    min-width: 600px;
    padding: 20px;
    font-size: large;
    font-style: italic;
    font-weight: 500;
}

h1{
    color: royalblue;
}

h2{
    color: peru;   
}

h3{
    color: slateblue;
}