.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 250px;
    margin: auto;
    margin-top: 200px;
    padding: 10px;
    background-color: rgb(219, 86, 119);
    text-align: center;
    border-radius: 20px;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.gray{
    background-color: gray;
} 